# Environment files
.env

# Local data
local/data
# Node modules and dependencies
node_modules/

# React application
frontend/build/
frontend/node_modules/


# Log files
logs/
*.log

# System files
*.tmp
*.swp
*.swo
