.poker-table {
  position: relative;
  width: 70%;
  padding-bottom: 30%;
  background-color: green;
  border: 15px solid brown;
  border-radius: 50%;
  margin: 15% auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 120px;
}

.table-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.show-all-cards-button {
  background-color: lightgreen;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.average-card-value {
  margin-top: 10px;
  color: white;
}

.player {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  min-height: 120px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 80px;
  box-sizing: border-box;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.card i {
  font-size: 40px;
}

.closed {
  background-color: darkgray;
  color: white;
  border: 2px solid black;
  background-image: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  box-sizing: border-box;
}

.start-new-game-button {
  background-color: lightcyan;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.top-text {
  background-color:rgb(168, 240, 216);
  padding: 10px;
  text-align: center;
  margin: 5px;
  border-radius: 46%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}